#competence-gen{
    height : 90vh;
    text-align: center;
   
    
}

#competence-dev{
    height : 90vh;
    text-align: center;
    
}

#competence-res{
    height : 90vh;
    text-align: center;
    
}


#espace{
    height: 30px;
    
}
