#competence-gen{
    height : 90vh;
    text-align: center;
    
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -22px;
}

#competence-dev{
    height : 90vh;
    text-align: center;
    
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -22px;
}

#competence-res{
    height : 90vh;
    text-align: center;
    
    margin-left: -8px;
    margin-right: -8px;
    
}

table {
    margin-left: 25%;
    margin-right: 25%;
    
    border-collapse: collapse;
    
}

.cell {
    text-align: left;
    width:50%;
    
}

.ligne {
	height :150px;
	
}
.tab {
	width:50%;
	margin-left:25%;
	margin-right:25%;
	border-collapse: collapse;
    
    
    
	box-shadow: 0 0 15px rgba(0,0,0, 0.8);
   -webkit-box-shadow: 0 0 15px rgba(0,0,0, 0.8);
   -moz-box-shadow: 0 0 8px rgba(0,0,0, 0.8);
}

#espace{
    height: 45px;
    
}

td {
    background-color:#84D41D;
}
.white {
    background-color: white;
    border-left:10px solid white;
    border-right:10px solid white;
    text-align: justify;

}

.w {
    background-color: white;
}

#green {
    background-color:#84D41D;
    margin-top:-9px;
    height:270px;
    
}

body {
    margin:0px;
    
}
