

#espace{
    height: 55px;
    
}



#top {
    
    text-align: center;
    border: 5px solid black;
}



#choix {
    width:100%;
    background-color: black;
    
}

#blank {
    width: 60px;
    background-color: white;
}

p {
    vertical-align: center;
}

body{
    margin:0px;
    padding:0px;
}