

#espace{
    height: 55px;
    
}

#contact{
    
    height:90vh;
    width:100%;
    background-color: #FC7F3C;
    margin-left: -8px;
    margin-right: -8px;
    
}

#top {
    
    text-align: center;
    
}



#choix {
    width:100%;
    background-color: black;
    
}

#blank {
    width: 60px;
    background-color: white;
}

p {
    vertical-align: center;
}
