#espace {
    margin-left: -8px;
    margin-right: -8px;
    
}


#linkedin {
    justify-content: center;
	align-items: center;
	display: flex;
    height: 256px;
    
    background-color: #132959;
}

#mail {
    padding-top: 65px;
    margin-top: 5px;
    justify-content: center;
	align-items: center;
	display: flex;
    height: 256px;
    
    background-color: #132959;
}


#choix {
    
    background-color: black;
    margin-bottom: -16px;
    margin-top: -16px;
    
}

#blank {
    width: 60px;
    background-color: white;
}

p {
    color:#5EB6DD;
}



#black {
    color:black;
}

a {
    text-decoration: none;
    color: white;
}