#home {
    margin-left:-8px;
	margin-right:-8px;
	margin-bottom: -8px;
	background-color: #84D41D;
	
}

#description {
	justify-content: center;
	width:65%;
	margin:auto;
	height:100vh;
	align-items:center;
	display :flex;
	color:black;
	
	
}

#article {
	text-align : justify;
	margin-left:25%;
	margin-right:25%;
	height:auto;
	align-items:center;
	display :flex;
	color:black;
}

body {
	font-family: Reem Kufi;
}

#white {
	background-color: white;
	
}

#espace {
	height: 55px;;
}

