 #navigation {
	 background-color:#ffffff;
	 height:65px;
	 margin-left:-8px;
	 margin-right:-8px;
	 cursor:default;
	 
	 
 }
 
 #listenonord {
	 margin-top:-8px;
 }
 
 .listemenu {
	 display : inline;
	 list-style: none; 
	 
 }
 
 .lienpages {
	 display:inline-block;
	 
 }
 .onglet {
	 height:65px;
	 border:none;
	 margin-right:-4px;
	 background-color:#ffffff;
	 color:#000000;
	 
 }
 #menu {
	 position:fixed;
	 width:100%;
 }
.listemenu :hover {
	background-color:#000000;
	color:#ffffff;
	
}