hr {
	margin-left:25%;
	margin-right:25%;
	height: 2px;
	background-color: black;
}

#article {
	padding-top:65px;
	
}
.ligne {
	height :150px;
	
}

.link {
	text-decoration: none;
}

.cell {
	width:50%;
	background-color: #5EB6DD;
	color:white;
}

.tab {
	width:50%;
	margin-left:25%;
	margin-right:25%;
	border-collapse: collapse;
}

.btn {
	height:35px;
	width: 130px;
	margin-top: 3px;
}

body {
	background-color: #132959;
}

#bottom {
	margin-top:57vh;
}