hr {
	margin-left:25%;
	margin-right:25%;
	height: 2px;
	background-color: black;
}

#article {
	padding-top:65px;
	
}
.ligne {
	height :150px;
	
}

.link {
	text-decoration: none;
	color:white;
}

.cell {
	width:50%;
	background-color: white;
	
}

.tab {
	width:50%;
	margin-left:25%;
	margin-right:25%;
	border-collapse: collapse;
	box-shadow: 0 0 15px rgba(0,0,0, 0.8);
   -webkit-box-shadow: 0 0 15px rgba(0,0,0, 0.8);
   -moz-box-shadow: 0 0 8px rgba(0,0,0, 0.8);
}

.btn {
	height:35px;
	width: 130px;
	margin-top: 3px;
	background-color: black;
	
	border:none;
}

body {
	background-color: #84D41D;
}

#bottom {
	margin-top:57vh;
}